<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Brightest Dungeon</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='static/css/reset.css'>
    <link rel='stylesheet' type='text/css' href='static/css/index.css'>
    <script src='static/js/index.js'></script>
</head>
<body>
    <div class="center">
        <div class="panel" id="panel-login">
            <label>email</label><input id="input-email" type="text">
            <label>password</label><input id="input-password" type="password">
            <div class="panel-buttons">
                <button class="btn" id="btn-login">Login</button>
                <button class="btn" id="btn-signup">SignUp</button>
            </div>
        </div>
    </div>
</body>
</html>