<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Sign Up</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='/static/css/reset.css'>
    <link rel='stylesheet' type='text/css' href='/static/css/signup.css'>
    <script src='/static/js/signup.js'></script>
</head>
<body>
    <div class="center">

        <div class="board" id="board-P">
            Processing...
        </div>

        <div class="board" id="board-0">
            <div class="panel inputs">
                <label>Email</label><input id="input-email" type="text">
            </div>
            <div class="panel buttons">
                <button id="btn-send">Send</button>
            </div>
        </div>

        <div class="board" id="board-1">
            <div class="panel input">
                <label>Code</label><input id="input-code" type="text">
            </div>
            <div class="panel buttons">
                <button id="btn-check">Check</button>
            </div>
        </div>

        <div class="board" id="board-2">
            <div class="panel input">
                <label>Password</label><input id="input-password" type="text">
            </div>
            <div class="panel buttons">
                <button id="btn-password">Create</button>
            </div>
        </div>

        <div class="board" id="board-E">
            Done !
        </div>

    </div>
</body>
</html>